h2 {
    color: rgb(177, 141, 95);
    font-family: 'Roboto Mono', monospace;
}

h3 {
    color: rgb(177, 141, 95);
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Roboto Slab', serif;
}